.cards {
  /* fonts */
  margin-top: 30px;
}

@media screen and (max-width: 620px) {
  .cards {
    margin: 0px;
    /* margin-bottom: 30px; */
    padding: 0px;
  }

  .cards {
    /* fonts */
    /* margin-top: 100px; */
    padding-top: 110px;
  }
}
