.header {
  margin-top: 45px;
  max-width: 880px;
  min-height: 74px;
  color: #ffffff;
  border-bottom: 1px solid #545454;

  opacity: 70%;
  rotate: 0;
}

.Header_Logo {
  width: 173px;
  min-height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 28px;
    max-width: 320px;
    min-inline-size: 56px;
  }

  .Header_Logo {
    width: 126px;
    min-height: 24px;
  }
}
