.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  padding: 40px;
  padding-right: 20px;
  margin: 0 auto;
}

.profile__info {
  display: grid;
  justify-content: center;
  padding: auto;
  max-width: 425px;
  grid-template-areas:
    "title button"
    "edit button"
    "description description";
  grid-template-columns: minmax(auto, 473px) auto;
  margin-right: 15px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 14px;
  border-bottom: 1px solid #ffffff;
}

.profile_name {
  display: flex;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  grid-area: title;
  padding: auto;
  margin: 0;
}

.profile__edit-button {
  background: transparent url(../images/EditPen.svg) center no-repeat;
  width: 24px;
  height: 24px;
  align-self: center;
  border: 1px solid #ffffff;
  margin: 8px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__description {
  width: 415px;
  top: 236px;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: description;
  margin: 0 auto;
}

.profile__add-button {
  background: transparent url(../images/Add_Sign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

/* @media screen and (max-width: 480px) {
  .profile__title {
    font-size: 32px;
  }

  .profile__description {
    width: 315px;
  }

  .profile__add-button {
    width: 75px;
  }
} */

@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 286px;
    top: 126px;
  }

  .profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-areas:
      "title button"
      "profile__edit-button";
    /* "description description"; */
    grid-template-columns: minmax(auto 320px) auto;
  }

  .profile__title {
    font-size: 22px;
  }

  .profile__edit-button {
    width: 18px;
  }

  .profile__description {
    align-items: center;
    font-weight: 400;
    font-family: "Inter", Arial, sans-serif;
    border: 1px;
    padding-bottom: 25px;
    text-align: center;
  }

  .profile__add-button {
    width: 100%;
  }
}
