.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  padding: 21px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0 auto;
}

.profile__info {
  display: grid;
  justify-content: center;
  padding: 0;
  max-width: 425px;
  grid-template-areas:
    "title button"
    "edit button"
    "description description";
  grid-template-columns: minmax(auto, 473px) auto;
  margin-left: 25px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  justify-content: center;
}

.profile__name {
  display: flex;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  grid-area: title;
  padding: 0;
  margin: 0;
}

.profile__edit-button {
  background: transparent url(../images/EditPen.svg) center no-repeat;
  width: 24px;
  height: 24px;
  align-self: center;
  border: 1px solid #ffffff;
  margin: 8px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__description {
  width: 415px;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: description;
  margin-top: 7px;
}

.profile__add-button {
  background: transparent url(../images/Add_Sign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  margin-right: 0px;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    padding: 10px;
  }

  .profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .profile__title {
    font-size: 22px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    width: 282px;
    font-size: 14px;
    padding-bottom: 25px;
    text-align: center;
  }

  .profile__add-button {
    width: 100%;
  }
}
